/* Estil per al formulari d'inici de sessió */
#login-container {
  max-width: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#username {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#login-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #218838;
}

/* Estil per al missatge de benvinguda */
#welcome-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

#logout-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#logout-btn:hover {
  background-color: #c82333;
}

/* Estil per als exercicis */
#eggercicis-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

h4 {
  color: #007bff;
}
